html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
.border {
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #e8ca46, #56b2b1);
  border-image-slice: 1;
}
.border-two {
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #e8ca46, #ffffff);
  border-image-slice: 1;
}
.white-background {
  background-color: white;
  opacity: 95%;
}
body {
  background-color: #FFFFFF;
}
.top-box {
  background-color: #56B2B1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 7vh;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .top-box {
    height: 8vh;
  }
}
.top-box .top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .top-box .top {
    width: 100%;
  }
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav .nav-li a {
  font-family: 'Open Sans Condensed', sans-serif;
  flex-direction: flex-start;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border-right: 1px solid black;
}
@media only screen and (min-width: 1024px) {
  .nav .nav-li a {
    font-size: 2.5rem;
  }
}
.nav .active {
  background-color: #E8CA46;
}
.image-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #E8CA46;
  border-top: 2px solid #E8CA46;
  width: 100%;
  height: 60vh;
}
@media only screen and (min-width: 1024px) {
  .image-banner {
    height: 80vh;
  }
}
.image-banner .text-banner {
  display: flex;
  flex-direction: column;
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  text-shadow: 2px 2px #038B8B;
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .image-banner .text-banner {
    font-size: 6rem;
  }
}
.icons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
  height: 10vh;
}
@media only screen and (min-width: 1024px) {
  .icons {
    padding-top: 0%;
  }
}
.icons .social-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 60%;
}
@media only screen and (min-width: 1024px) {
  .icons .social-row {
    width: 20%;
  }
}
.icons .social-button img {
  justify-content: space-evenly;
  height: 50px;
  width: 50px;
}
@media only screen and (min-width: 1024px) {
  .icons .social-button img {
    justify-content: space-around;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1024px) {
  .intro {
    width: 80%;
    padding-top: 2%;
  }
}
.intro .statement {
  padding: 2%;
}
@media only screen and (min-width: 1024px) {
  .intro .statement {
    padding: 0% 10%;
  }
}
.images {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2.5%;
}
@media only screen and (min-width: 1024px) {
  .images {
    flex-direction: row;
  }
}
.images .boxOne,
.images .boxTwo,
.images .boxThree {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .images .boxOne,
  .images .boxTwo,
  .images .boxThree {
    width: 20%;
  }
}
.images h3 {
  text-align: center;
  padding: 5%;
  font-weight: 900;
}
.images img {
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #e8ca46, #56b2b1);
  border-image-slice: 1;
  width: 100%;
  height: 28vh;
}
footer {
  width: 100%;
  background-color: #E3BD04;
}
footer .footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 20vh;
  background-color: #E3BD04;
  font-family: 'Open Sans Condensed', sans-serif;
}
@media only screen and (min-width: 1024px) {
  footer .footer {
    height: 25vh;
  }
}
footer a {
  text-decoration: none;
  color: black;
}
footer .contact {
  font-size: 2rem;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  padding-top: 5%;
  color: black;
}
@media only screen and (min-width: 1024px) {
  footer .contact {
    font-size: 3rem;
    padding-top: 2.5%;
    padding-bottom: 2%;
  }
}
footer .contact:hover {
  text-decoration: underline;
}
.about-body {
  background-image: url("/images/cupcake.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  background-color: #E8CA46;
}
.about-team {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 10vh;
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px #E8CA46;
  font-size: 3.5rem;
}
.about-peeps {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
}
.about-peeps h4 {
  font-weight: 900;
}
.image-box {
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #e8ca46, #ffffff);
  border-image-slice: 1;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.image-box img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.right {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.left {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#contact-page {
  background-image: url("/images/contactbackground.jpg");
  background-size: cover;
  background-position: right;
}
#contact {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
@media only screen and (min-width: 1024px) {
  #contact {
    display: flex;
    flex-direction: row;
  }
}
.text {
  margin: 0 auto;
  width: 80%;
  height: 25vh;
  padding: 5%;
  padding-bottom: 0%;
  background-color: white;
  opacity: 95%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 1024px) {
  .text {
    height: 47vh;
    font-size: 2.6rem;
    text-align: center;
  }
}
.form-box {
  width: 80%;
  padding: 5%;
  margin: 0 auto;
  background-color: white;
  opacity: 95%;
}
form {
  display: flex;
}
form ul {
  list-style: none;
}
form textarea {
  width: 95%;
  height: 10vh;
}
label {
  font-family: 'Open Sans Condensed', cursive;
  font-size: 1.5rem;
  font-weight: 700;
}
button {
  padding: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  background-color: #56B2B1;
  color: #FFFFFF;
}
